html,
body {
  scroll-behavior: smooth;
  font-size: initial;
  line-height: initial;
}

// import Noto Sans & Noto Sans TC
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900&display=swap");

.event_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  max-width: 1920px;
  &.main-bg {
    background-image: url("./innisfree_double11_event_2023/img_bg_1.jpg");
    height: 5440px;
  }
  &.shop-bg {
    background-image: url("./innisfree_double11_event_2023/img_bg_2.jpg");
    height: 7911px;
  }

  .swiper-container {
    margin: initial;
    overflow: initial;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div {
    box-sizing: initial;
  }

  & > div {
    position: relative;
    max-width: 780px;
  }

  a,
  .button {
    cursor: url("./innisfree_double11_event_2023/cursor.png"), pointer;
  }

  // Define font weight

  $font-family: ("r", 400), ("m", 500), ("bo", 700), ("bl", 900);

  @each $class, $weight in $font-family {
    .fw-#{$class} {
      font-weight: #{$weight};
    }
  }

  // Define font size

  $font-size: (
    "xs": 0.75,
    "s": 0.875,
    "m": 1,
    "l": 1.125,
    "xl": 1.5,
    "2xl": 1.875,
    "3xl": 2,
    "4xl": 2.25,
    "5xl": 2.5,
    "6xl": 3,
  );

  @each $class, $rem in $font-size {
    .fs-#{$class} {
      font-size: #{$rem}rem;
    }
  }

  // Define text color

  $text-color: (
    "white": #ffffff,
    "yellow": #ffff82,
    "green": #12b560,
    "blue": #4e82a0,
    "gray": #515151,
  );

  @each $name, $color in $text-color {
    .text-#{$name} {
      color: $color;
    }
  }

  // Define margin top
  $margin-top: (5, 10, 15, 20, 25, 30, 40, 50, 60);
  @each $px in $margin-top {
    .mt#{$px} {
      margin-top: #{$px}px;
    }
  }

  // Define common styles

  .w780 {
    width: 780px;
    overflow-x: hidden;
  }

  .mobile_br {
    display: none;
  }

  .section02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 760px;

    .title_txt,
    .subtitle_txt {
      text-align: center;
    }

    .title_txt {
      text-shadow: 0 0 14px #c48300;
    }
    .subtitle_txt {
      text-shadow: 0 0 13px #c48300;
      opacity: 0.9;
    }
    .swiper00 {
      display: none;
    }

    .con_wrap {
      display: flex;
      gap: 1rem;

      .content {
        flex: 1;
        .main_txt {
          width: 221px;
          height: 207px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          background-color: #ffffff;
          border-radius: 32px;
          border: 3px;
          border-style: solid;
          .hint {
            border: 1px dashed #606060;
            border-radius: 9px;
            width: fit-content;
            padding: 0.25rem 1rem;
            margin-bottom: 1rem;
          }
        }

        &:nth-child(1) {
          .date {
            color: #ff6600;
          }
          .main_txt {
            border-color: #ff6600;
          }
          .button {
            background-color: hsl(36, 100%, 55%);
            text-shadow: 3px 3px 3px rgba(114, 66, 3, 0.4);
          }
        }
        &:nth-child(2) {
          .date {
            color: #b178a3;
          }
          .main_txt {
            border-color: #b178a3;
          }
          .button {
            background-color: #b178a3;
            text-shadow: 3px 3px 3px rgba(104, 14, 127, 0.4);
          }
        }
        &:nth-child(3) {
          .date {
            color: #0082ae;
          }
          .main_txt {
            border-color: #0082ae;
            .fw-bl {
              color: #0082ae;
            }
          }
          .button {
            background-color: #0082ae;
            text-shadow: 3px 3px 3px rgba(11, 55, 122, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            gap: 0.25rem;
            padding: 1.2rem 0;
            img {
              height: 2rem;
            }
          }
        }

        .button {
          text-align: center;
          text-decoration: none;
          border-radius: 36px;
          padding: 0.75rem;
          margin-top: 10px;
          box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
            inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5);
          letter-spacing: 4px;
          a {
            text-decoration: none;
          }
          &:active {
            box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .date {
      text-align: center;
    }
  }

  .tab_content {
    display: none;

    &.on {
      display: block;
    }
  }

  .tab_wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .tab_btn {
      flex: 1;
      text-align: center;
      padding: 0.5rem;
      margin: 0.5rem;
      letter-spacing: 4px;
      background-color: #bfbfbf;
      border-radius: 4px;
      box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.1),
        inset 0px 6px 4px 0px rgba(255, 255, 255, 0.5), inset -6px 0px 4px 0px rgba(0, 0, 0, 0.15),
        inset 0px -6px 4px 0px rgba(0, 0, 0, 0.15), inset 6px 0px 4px 0px rgba(0, 0, 0, 0.15);
      &.active {
        background-color: #12b560;
        text-shadow: 3px 3px 3px hsl(149, 30%, 39%);
      }
      &:active {
        box-shadow: inset 0px 6px 4px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .section03 {
    .title_txt,
    .subtitle_txt {
      text-align: center;
    }

    .response {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .progress_bar {
      width: 18.75rem;
      height: 2rem;
      background-color: #ffffff;
      border: 3px solid #ffff82;
      border-radius: 32px;

      .current {
        height: 2rem;
        background-color: #12b560;
        border-radius: 32px;
        background-image: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );
        background-size: 1rem 1rem;
        animation: progress-animation 1s linear infinite;
      }
    }

    .current_number {
      margin-left: 1rem;
      line-height: 1;
      position: relative;
      top: 7px;
    }

    .coupon_warp {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }

  .section04 {
    height: 724.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title_txt,
    .subtitle_txt,
    .button {
      text-align: center;
    }
    .open-swiper {
      width: 748px;
      position: relative;
      img {
        width: 748px;
        clip-path: inset(0 0 6px 0 round 25px);
      }
      .button {
        position: absolute;
        width: 211px;
        height: 80px;
        bottom: 48px;
        left: 268px;
      }
    }

    .swiper01 {
      width: 748px;
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
      color: hsla(0, 0%, 100%, 0.7);
    }
    .swiper-slide {
      position: relative;
      img,
      video {
        width: 748px;
        clip-path: inset(0 2px 2px 0 round 25px);
      }
      .text {
        position: absolute;
        bottom: 2rem;
        right: 0.5rem;
        .joy50 {
          color: #256d89;
          width: 6.25rem;
          height: 2.25rem;
          display: inline-flex;
          align-items: baseline;
          justify-content: center;
          background-color: #ffffff;
          border-radius: 1rem;
          margin: 0 0.5rem;
        }
      }
      .end {
        position: absolute;
        top: 15rem;
        right: 3.75rem;
        text-align: end;
        letter-spacing: 1px;
        .rotate {
          transform: rotate(-10deg);
        }
        .text-yellow {
          border: 0.4375rem solid #ffff82;
          border-radius: 1.6875rem;
          font-size: 3.625rem;
          padding: 0.5625rem 1.5rem;
          letter-spacing: 0.125rem;
          line-height: 2.5;
        }
        span:not(.joy50) {
          text-shadow: 0 0 4px #204060;
        }
      }
    }
  }

  .section05 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title_txt,
    .subtitle_txt {
      text-align: center;
    }

    .mission {
      position: relative;
      &:not(:nth-child(3)) {
        margin-top: -42px;
      }
      &:nth-child(3) {
        width: 667px;
        height: 214px;
        .txt .title {
          color: #962f8d;
        }
      }
      &:nth-child(4) {
        width: 666px;
        height: 212px;
        .txt {
          .title {
            color: #975e85;
          }
          .text-white {
            background-color: #12b560;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
          }
        }
      }
      &:nth-child(5) {
        width: 670px;
        height: 221px;
        .txt .title {
          color: #5b4411;
        }
      }
      &:nth-child(6) {
        width: 668px;
        height: 214px;
        .txt .title {
          color: #0f6b87;
        }
      }
      a {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: 60px;
        right: 12px;
      }

      .txt {
        position: absolute;
        top: 64px;
        left: 68px;
        display: flex;
        gap: 3rem;

        .title {
          text-align: center;

          .number {
            line-height: 1;
          }
        }
      }
      .check {
        position: absolute;
        width: 43px;
        height: 36px;
        background-image: url("./innisfree_double11_event_2023/check_1.png");
        background-size: cover;
        background-repeat: no-repeat;
        top: 84px;
        right: 37px;
      }
      .check.on {
        position: absolute;
        width: 48px;
        height: 43px;
        background-image: url("./innisfree_double11_event_2023/check_2.png");
        background-size: cover;
        background-repeat: no-repeat;
        top: 80px;
        right: 37px;
      }
    }
    .mission > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .section06 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_txt {
      text-align: center;
    }
    .swiper-container {
      width: 213px;
      margin-right: 54px;
    }
    .swiper-slide {
      img {
        width: 286px;
      }
    }
    .text-white {
      text-align: center;
      margin-top: -20px;
    }
  }

  .section07 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_txt,
    .subtitle_txt {
      text-align: center;
    }

    .caption {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: #515151;

      .txt {
        width: 330px;
        background-color: #ffffff;
        padding: 1px 0 3px 0;

        .highlight {
          color: lightblue;
        }
      }
    }

    .card {
      display: flex;
      justify-content: center;
      color: #515151;
      p {
        text-align: center;
        border-radius: 18px;
        background-color: #ffffffaf;
        line-height: 1.8;
        padding: 2rem 5.5rem;
        box-shadow: inset 0px 0px 4px 4px rgba(255, 255, 255, 0.75);
      }
    }

    .card-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2.875rem;

      .card-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 233px;

        img {
          width: 273px;
        }

        .button {
          background-color: #12b560;
          border-radius: 2rem;
          padding: 0.5rem 0;
          width: 13.125rem;
          box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
            inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
          position: relative;
          top: -32px;
          &:active {
            box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5),
              7px 7px 12px 0 rgba(15, 72, 94, 0.5);
          }
        }
      }
    }
  }

  .section08 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .txt {
      letter-spacing: 4px;
    }

    .button img {
      width: 444px;
      clip-path: inset(26px 0 58px 0 round 60px);
    }
  }
  .section09 {
    position: absolute;
    bottom: 0;
    img {
      height: 80px;
    }
  }
  .section10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
    }
    .card_wrap {
      width: 636.6px;
      margin-left: 20px;
      .card_title {
        height: 106px;
        margin-bottom: 30px;
        img {
          width: 636.6px;
        }
      }
      .wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
        width: 724.6px;
        margin-bottom: 28px;

        .card {
          width: 260px;
          height: 230px;
          img {
            width: 349.3px;
          }
        }
      }
      .card_foot {
        height: 222px;
        margin-left: 4px;
        img {
          width: 622px;
        }
        a {
          border: #0082ae 1px solid;
          padding: 4px;
          border-radius: 8px;
          position: relative;
          bottom: 92px;
          left: 456px;
          text-decoration: none;
        }
        .text-gray {
          margin-top: -50px;
          text-align: center;
        }
      }
    }

    .link_title {
      margin-top: 80px;
      height: 120px;
      img {
        width: 678px;
      }
    }

    .link_wrap {
      width: 41.25rem;
      display: flex;
      flex-wrap: wrap;

      a {
        z-index: 1;
        background-color: #12b560;
        text-decoration: none;
        width: 13.75rem;
        height: 5.125rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(114, 66, 3, 0.3);
        border-radius: 0.375rem;
        box-shadow: inset 0px 0.3125rem 0.25rem 0px rgba(190, 231, 211, 0.9),
          inset 0px -0.375rem 0.25rem 0.125rem rgba(15, 146, 78),
          inset 0.375rem 0px 0.25rem 0.125rem rgba(16, 161, 85),
          inset -0.375rem 0px 0.25rem 0.125rem rgba(16, 161, 85);
        &:active {
          background-color: #038f58;
          box-shadow: inset 0px 0.3125rem 0.25rem 0px rgba(187, 225, 210, 0.9),
            inset 0px -0.375rem 0.25rem 0.125rem rgba(4, 99, 74),
            inset 0.375rem 0px 0.25rem 0.125rem rgba(4, 118, 81),
            inset -0.375rem 0px 0.25rem 0.125rem rgba(4, 118, 81);
        }
      }
    }
  }
  .section11 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      height: 150px;

      img {
        width: 657px;
      }
    }
    .subtitle {
      margin-left: -2.75rem;

      img {
        width: 736px;
      }
    }
    .card_wrap {
      display: flex;
      gap: 1.375rem;
      margin-left: -4.125rem;
      margin-top: -32px;
      .card {
        width: 213px;
        height: 187px;
        position: relative;

        img {
          width: 286px;
        }

        img.sold_out {
          width: 220px;
          position: absolute;
          top: 23px;
          left: 30px;
          display: none;
          &.on {
            display: block;
          }
        }

        a {
          width: 213px;
          height: 187px;
          position: absolute;
          top: 29px;
          left: 29px;
        }
      }
    }
  }
  .section12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    .title {
      height: 327px;

      img {
        width: 636px;
      }
    }

    .swiper-container {
      width: 213px;
      margin-right: 54px;
    }
    .swiper-slide {
      position: relative;
      img {
        width: 286px;
      }
      a {
        width: 213px;
        height: 285px;
        position: absolute;
        top: 29px;
        left: 29px;
      }
    }
  }

  .section13 {
    .title {
      width: 674px;
      height: 433px;
      img {
        width: 790px;
        margin-top: -6.875rem;
        margin-left: -4rem;
      }
    }
    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
      }
      .button {
        text-align: center;
        letter-spacing: 0.25rem;
        background-color: #12b560;
        border-radius: 2.25rem;
        padding: 0.8125rem 2.25rem;
        box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
          inset 0px 3px 6px 0px rgba(255, 255, 130, 0.5), inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5),
          inset 0px -3px 6px 0px rgba(255, 255, 130, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
        &:active {
          box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
        }
      }
    }
  }
  .section14 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 358px;
      height: 92px;
      img {
        width: 598px;
        margin-top: -120px;
        margin-left: -120px;
      }
    }
    .card-wrap {
      display: flex;
      gap: 1.375rem;
      margin-left: -60px;
      .card {
        width: 213px;
        height: 187px;
        position: relative;
        img {
          width: 286px;
        }
        a {
          width: 213px;
          height: 187px;
          position: absolute;
          top: 30px;
          left: 30px;
        }
      }
    }
    .link {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
      }
      .button {
        text-align: center;
        letter-spacing: 0.25rem;
        background-color: #12b560;
        border-radius: 2.25rem;
        padding: 0.8125rem 2.25rem;
        box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
          inset 0px 3px 6px 0px rgba(255, 255, 130, 0.5), inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5),
          inset 0px -3px 6px 0px rgba(255, 255, 130, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
        &:active {
          box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
        }
      }
    }
  }
  .section15 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 355px;
      height: 92px;
      img {
        width: 592px;
        margin-top: -112px;
        margin-left: -118px;
      }
    }
    .content-wrap {
      display: flex;
      margin-left: -2.4rem;
      .card {
        width: 280px;
        height: 190px;
        position: relative;
        img {
          width: 323px;
        }
        a {
          width: 280px;
          height: 190px;
          position: absolute;
          top: 30px;
        }
      }
      .content {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 187px;
        .txt {
          text-align: end;
          span:not(:last-of-type) {
            font-size: 1.25rem;
            line-height: 1.8;
          }
          span:nth-of-type(1),
          span:nth-of-type(3) {
            background-color: #000;
            margin-right: 0.5rem;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
        .link {
          display: flex;
          flex-direction: column;
          align-items: center;
          a {
            text-decoration: none;
          }
          .button {
            text-align: center;
            letter-spacing: 0.25rem;
            background-color: #12b560;
            border-radius: 2.25rem;
            padding: 0.8125rem 2.25rem;
            box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
              inset 0px 3px 6px 0px rgba(255, 255, 130, 0.5),
              inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5),
              inset 0px -3px 6px 0px rgba(255, 255, 130, 0.5), 7px 7px 12px 0 rgba(15, 72, 94, 0.5);
            &:active {
              box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5),
                7px 7px 12px 0 rgba(15, 72, 94, 0.5);
            }
          }
        }
      }
    }
  }
  .section16 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 378px;
      height: 92px;
      img {
        width: 618px;
        margin-top: -117px;
        margin-left: -120px;
      }
    }
    .swiper-container {
      width: 213px;
      margin-right: 54px;
    }
    .swiper-slide {
      position: relative;
      img {
        width: 286px;
      }
      a {
        width: 213px;
        height: 314px;
        position: absolute;
        top: 29px;
        left: 29px;
      }
    }
  }
  .section17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 516px;
      height: 92px;
      img {
        width: 756px;
        margin-top: -117px;
        margin-left: -120px;
      }
    }
    .card_wrap {
      display: flex;
      gap: 22px;
      margin-left: -56px;
      .card {
        position: relative;
        width: 221px;
        img {
          width: 286px;
        }
        a {
          width: 221px;
          height: 285px;
          position: absolute;
          top: 29px;
          left: 29px;
        }
      }
    }
    .mobile {
      display: none;
    }
  }
  .section18 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 690px;
      height: 92px;
      img {
        width: 932px;
        margin-top: -117px;
        margin-left: -121px;
      }
    }
    .card_wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 1.375rem;
      margin-left: -2.75rem;
      width: 34.5rem;
      .card {
        position: relative;
        width: 265px;
        height: 285px;
        img {
          width: 338px;
        }
        a {
          width: 265px;
          height: 285px;
          position: absolute;
          top: 1.8125rem;
          left: 1.8125rem;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  html,
  body {
    font-size: 62.5%;
  }
  #wrap {
    min-width: initial;
  }
  .event_position {
    width: 100%;
    margin: 0 auto;
    position: relative;
    &.main-bg,
    &.shop-bg {
      background-image: url("./innisfree_double11_event_2023/img_bg_m_1.jpg");
      background-size: contain;
      height: initial;
    }
    & > div {
      position: relative;
      min-width: 100%;
    }
    .event-bg {
      width: 100%;
      margin-top: 20px;
      &.main-bg {
        background-image: url("./innisfree_double11_event_2023/img_bg_m_2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        // height: 4200px;
      }
      &.shop-bg {
        background-image: url("./innisfree_double11_event_2023/img_bg_m_3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        // height: 6700px;
      }
    }
    .w780 {
      width: 100%;
      overflow-x: hidden;
    }

    .mobile_br {
      display: inline;
    }

    .section02 {
      margin-top: 67vw;
      .con_wrap {
        display: none;
      }
      .swiper00 {
        display: block;
        width: 95vw;
        .swiper-slide {
          display: flex;
          justify-content: center;
          .main_txt {
            width: 210px;
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background-color: #ffffff;
            border-radius: 32px;
            border: 3px;
            border-style: solid;
            .hint {
              border: 1px dashed #606060;
              border-radius: 9px;
              width: fit-content;
              padding: 0.25rem 1rem;
              margin-bottom: 1rem;
            }
          }

          .button {
            text-align: center;
            text-decoration: none;
            border-radius: 36px;
            padding: 0.75rem;
            margin-top: 10px;
            box-shadow: inset 0px 3px 6px 0px rgba(255, 255, 255),
              inset 0px -3px 6px 0px rgba(0, 0, 0, 0.5);
            letter-spacing: 4px;
            a {
              text-decoration: none;
            }
            &:active {
              box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
            }
          }
          &:nth-of-type(1) {
            .date {
              color: #ff6600;
            }
            .main_txt {
              border-color: #ff6600;
            }
            .button {
              background-color: hsl(36, 100%, 55%);
              text-shadow: 3px 3px 3px rgba(114, 66, 3, 0.4);
            }
          }
          &:nth-of-type(2) {
            .date {
              color: #b178a3;
            }
            .main_txt {
              border-color: #b178a3;
            }
            .button {
              background-color: #b178a3;
              text-shadow: 3px 3px 3px rgba(104, 14, 127, 0.4);
            }
          }
          &:nth-of-type(3) {
            .date {
              color: #0082ae;
            }
            .main_txt {
              border-color: #0082ae;
              .fw-bl {
                color: #0082ae;
              }
            }
            .button {
              background-color: #0082ae;
              text-shadow: 3px 3px 3px rgba(11, 55, 122, 0.4);
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1;
              gap: 0.25rem;
              padding: 1.2rem 0;
              img {
                height: 2rem;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          background-image: none;
          color: hsla(0, 0%, 100%, 0.7);
        }
      }
    }
    .section03 .coupon img {
      width: 15rem;
    }
    .section04 {
      height: 100vw;
      .open-swiper {
        width: 100%;
        img {
          width: 100%;
          clip-path: inset(2px 2px 5px 2px round 25px);
        }
        .button {
          width: 26.6vw;
          height: 10vw;
          bottom: 6vw;
          left: 34.5vw;
        }
      }
      .swiper01 {
        width: 100%;
      }
      .swiper-slide {
        img,
        video {
          width: 100%;
          height: 100%;
        }
        .end {
          position: absolute;
          top: 14rem;
          right: 5rem;
          .text-yellow {
            font-size: 3rem;
          }
        }
      }
    }
    .section05 {
      .mission {
        margin-top: 0;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          width: 100%;
          height: 100%;
        }

        & > img {
          width: 95%;
          height: 100%;
          margin-bottom: 1rem;
        }
        .txt {
          top: 8.4vw;
          left: 8.8vw;
          gap: 2rem;
          .text-blue .mt5:nth-of-type(2) {
            margin-top: 0;
          }
        }
        .check {
          display: none;
        }
      }
    }
    .section06 {
      margin-top: 0;
      .mt30 {
        margin-top: 0;
      }
    }
    .section07 {
      margin-top: 30px;
      .card p {
        padding: 10px 25px;
      }
      .card-wrap {
        gap: 1rem;
        .card-content {
          margin-bottom: 0rem;
          .button {
            top: -20px;
          }
        }
      }
      .mt50 {
        margin-top: 30px;
      }
    }
    .section08 {
      &.mt60 {
        margin-top: 30px;
      }
      .button img {
        width: 330px;
        clip-path: inset(inset(20px 0 43px 0 round 45px));
        margin-bottom: 20px;
      }
    }
    .section09 img {
      height: 60px;
    }
    .section10 {
      .card_wrap {
        width: 89.7vw;
        margin-left: 20px;
        .card_title {
          height: 13.5vw;
          margin-bottom: 30px;
          img {
            width: 89.7vw;
          }
        }
        .wrap {
          gap: 0.3vw;
          width: 89.7vw;
          margin-bottom: 0px;

          .card {
            width: 43.35vw;
            height: 38vw;
            img {
              width: 46vw;
            }
          }
        }
        .card_foot {
          height: 40vw;
          margin-left: 4px;
          img {
            width: 88vw;
          }
          a {
            padding: 4px;
            border-radius: 8px;
            position: relative;
            bottom: 14.5vw;
            left: 64.2vw;
            text-decoration: none;
          }
          .text-gray {
            margin-top: -30px;
            text-align: center;
          }
        }
      }
      .link_title {
        margin-top: 30px;
        height: 16vw;
        text-align: center;
        img {
          width: 85%;
        }
      }

      .link_wrap {
        width: 90vw;
        a {
          width: 30vw;
          height: 10vw;
        }
      }
    }

    .section11 {
      .title {
        height: 19.2vw;
        img {
          width: 100%;
        }
      }
      .subtitle {
        margin: 0;
        img {
          width: 94.3%;
        }
      }
      .card_wrap {
        margin-left: -8vw;
        margin-top: 0;
        .card {
          width: 27.3vw;
          height: 23.9vw;

          img {
            width: 36.6vw;
          }
          img.sold_out {
            width: 28.2vw;
            top: 3vw;
            left: 3.8vw;
          }
          a {
            width: 27.3vw;
            height: 23.9vw;
            top: 3.7vw;
            left: 3.7vw;
          }
        }
      }
    }

    .section12 {
      .title {
        height: 50vw;

        img {
          width: 100vw;
        }
      }
      .swiper-container {
        margin-left: calc((100vw - 213px) / 4);
      }
    }

    .section13 {
      &.mt40 {
        margin-top: 0px;
      }
      .title {
        width: 86.4vw;
        height: 55.5vw;
        img {
          width: 100vw;
          margin-left: -9vw;
        }
      }
      .link {
        margin-top: 0;
      }
    }

    .section14 {
      .title {
        width: 100vw;
        height: 18vw;

        img {
          width: 100vw;
          margin-top: -15.4vw;
          margin-left: 0;
        }
      }
      .card-wrap {
        margin-left: -8vw;
        .card {
          width: 40vw;
          height: 36vw;

          img {
            width: 50vw;
          }
          a {
            width: 40vw;
            height: 36vw;
            top: 3.7vw;
            left: 3.7vw;
          }
        }
      }
      .link {
        margin-top: 30px;
      }
    }
    .section15 {
      margin-top: 40px;
      .title {
        width: 100vw;
        height: 18vw;
        img {
          width: 100vw;
          margin-top: -15.4vw;
          margin-left: 0;
        }
      }
      .content-wrap {
        .card {
          width: 44vw;
          height: 36vw;
          img {
            width: 54.9vw;
          }
          a {
            width: 44vw;
            height: 36vw;
            top: 5vw;
            left: 5vw;
          }
        }
        .content {
          margin-top: 24px;
          margin-left: 22px;
          height: 120px;
          .txt {
            span:not(:last-of-type) {
              line-height: 1.8;
            }
          }
        }
      }
    }
    .section16 {
      margin-top: 40px;
      .title {
        width: 100vw;
        height: 18vw;
        img {
          width: 100vw;
          margin-top: -15vw;
          margin-left: 0px;
        }
      }
      .swiper-container {
        margin-left: calc((100vw - 213px) / 4);
      }
    }
    .section17 {
      margin-top: 40px;
      .title {
        width: 100vw;
        height: 10vw;
        img {
          width: 100vw;
          margin-top: -15vw;
          margin-left: 0px;
        }
      }
      .card_wrap {
        display: none;
      }
      .mobile {
        display: block;
        .swiper-container {
          width: 213px;
          margin-right: 54px;
        }
        .swiper-slide {
          position: relative;
          img {
            width: 286px;
          }
          a {
            width: 213px;
            height: 314px;
            position: absolute;
            top: 29px;
            left: 29px;
          }
        }
      }
      .swiper-container {
        margin-left: calc((100vw - 213px) / 4);
      }
    }
    .section18 {
      margin-bottom: 60px;
      .title {
        width: 88vw;
        height: 10vw;
        img {
          width: 119vw;
          margin-top: -15vw;
          margin-left: -15vw;
        }
      }
      .card_wrap {
        gap: 4vw;
        margin-left: -6vw;
        width: 90vw;
        .card {
          width: 41.14vw;
          height: 44.44vw;
          img {
            width: 52.4vw;
          }
          a {
            width: 41.14vw;
            height: 44.44vw;
            top: 4vw;
            left: 4vw;
          }
        }
      }
      .mt50{
        margin-top: 30px;
        padding:0 2rem;
        text-align: center;
      }
    }
  }
}

@keyframes progress-animation {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
